VITE_SUPABASE_URL=https://kykasxfxiuxlgkblxtya.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5a2FzeGZ4aXV4bGdrYmx4dHlhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3NTQyNzUsImV4cCI6MjA5OTMzMDI3NX0.QwvV4xSbJWlrrWnTKkl5lajIWJumefP18V3brTEPxbI
